.paragraph__node-list {
  width: 100%;
}

.paragraph__node-list__container--horizontal {
  flex-direction: column;

  @include respond-at($bp-med) {
    flex-direction: row;
  }
}

.paragraph__node-list__container--vertical {
  flex-direction: column;
}

.paragraph__node-list--title {
  text-align: center;
  padding: 0.5em;
}

.paragraph__node-list__container {
  width: 100%;
  display: flex;
}

.paragraph__node-list__node {
  padding: 5px;

  @include respond-at($bp-med) {
    padding: 5px 15px;
  }

  @include respond-at($bp-large) {
    padding: 5px 20px;
  }
}

.paragraph__node-list__node--title {
  text-align: center;
  margin: 5px;
}

.paragraph__node-list__node--body {
  text-align: center;
}

.paragraph__node-list__node--link {
  text-align: right;
}
