.paragraph--type--content-body-text {
  width: 100%;
  // padding: 1em;

  @include respond-at($bp-med) {
    // padding: 1em;
  }

  & > ul {
    list-style: disc;
    margin-left: 5%;
  }
  & > ul.pager-for-content-type {
    list-style: none;
    margin-left: 0;
  }
}
