.status-messages-container {
  color: #006600;
  background-color: #9EEA9E;
  padding: 10px;
}

[role="alert"] {
  color: #ffffff;
  background-color: #ff0000;
}

[aria-label="Error message"] {
  color: #ffffff;
  background-color: #ff0000;
}
